body{
    margin: 30px;
}

div{
    background-color: red;
    width: 100px;
    height: 100px;
    outline-style:dotted;
    outline-width: 10px;
    outline-color: greenyellow;
}

div:hover{
    outline-style:dotted;
    outline-width: 4px;
    outline-color: black;
}