
div{
    width: 400px;
    height: 350px;
    padding: 50px 50px;
    border-top-style:dotted;
    border-top-color: green;
    border-top-width: 3px;
    border-right-style: dashed;
    border-right-color: blue;
    border-right-width: 10px;
    border-bottom-style:solid;
    border-bottom-color: red;
    border-left-style:double;
    border-left-color: black;
    border-left-width: 5px;
    box-sizing: border-box;
    margin: 10px;
}

p{
    text-align: justify;
}